body{
    background-color:#c8b7d6 ;
}

.travel_mainDiv{
    border: 3px solid #ff0080 ;
}

.travel_mainDiv img{
   width: 600px;
   border-radius: 15px;
}

kbd{
    color:#fdfd96 ;
    font-size: 30px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: aquamarine;
}
.movie_head i{
    float: right;
}
.movie_text span{

    color: #ff0080;
}